.idea

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

.idea/**/markdown-navigator/

# Cache file creation bug
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# CodeStream plugin
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Gradle ###
.gradle
build/

### Gradle Patch ###
**/build/
